<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.form-control{
  margin: 5px;
}

</style>
    <title>Userprofile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/center/javascript/main.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/center/css/login.css">

</head>
<body style="height:auto">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" href="/userprofile">
            <a href="/userprofile"> <img src="../static/center/images/logo.png", height="50" alt="Truni Technologies"> </a>
        </div>
        <ul class="nav navbar-nav" >
            <li class="active"><a href="/userprofile">Home</a></li>
            <li><a href="/career">CAREERS</a></li>
            <li><a href="/testing">PROJECTS</a></li>
            <li><a href="/leave">APPLY LEAVE</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
         <!--   <li><a href="/register"><span class="register"></span> Sign Up</a></li>
            <li><a href="/signin"><span class="login"></span> Login</a></li> -->
            <li><a href="/logout"><span class="logout"></span> Logout</a></li>
        </ul>
</nav>

<div class="container-fluid" style="margin-top: 42px">
    {% block content%}
    <div class="container-fluid" style="margin-top: 42px">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{{user.profilepic.url}}" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>
                                {{user.username}}</h4>
                            <br />
                            <h6>
                                Employee Id: {{user.employee_id}}</h6>
                            <h6>
                                Designation: {{user.designation}}</h6>
                            <h6>
                                Date of Joining: {{user.date_joined}}</h6>
                            <h6>
                                Pan card: {{user.pan_no}}</h6>
                            <small><cite title="San Francisco, USA">{{user.current_residency_address}},{{user.current_state}}-{{user.current_zip_code}},{{user.current_country}} <i class="glyphicon glyphicon-map-marker">
                            </i></cite></small>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>{{user.email}}
                                <br />

                                <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.trunitech.com</a>
                                <br />
                                <i class="glyphicon glyphicon-gift"></i>{{user.dob}}</p>
                            <!-- Split button -->
                            <!-- <div class="btn-group">
                                 <button type="button" class="btn btn-primary">
                                     Social</button>
                                 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span><span class="sr-only">Social</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                        <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Github</a></li>
                                    </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    </div>

    <div class="container" style="margin-top:auto">
        <div class="col-sm-2"></div>
        <div class="footer" align="bottom">
            <p><B>Copyright @ 2016 Truni Technologies. All Right Reserved</B></p>
        </div>

    </div>


</body>
</html>
